<div class="brand-logo">
</div>
<div class="modal-wrapper">
  <div class="modal-wrapper-box">
    <div class="modal-wrapper-box-header">
      <div class="modal-wrapper-box-header-icon"></div>
      <span>Financial Docs Sharing</span>
      <div class="modal-wrapper-box-header-close">+</div>
    </div>
    <div class="modal-wrapper-box-container">
      <div class="modal-wrapper-box-container-control">
        <div class="label-row">Invite Members</div>
        <div class="modal-wrapper-box-container-control-row">
          <div class="modal-wrapper-box-container-control-row-main">
            <div class="tag-control">
              <div class="tag-control-container">
                <div class="tag research">
                  <div class="tag-icon"></div>
                  <div class="tag-label">Research (3)</div>
                  <div class="tag-close">x</div>
                </div>
              </div>
              <input placeholder="Enter email or name of co-worker, group or client...">
            </div>
          </div>
          <div class="modal-wrapper-box-container-control-row-side">
            <div class="button-control">Add</div>
          </div>
        </div>
      </div>
      <div class="modal-wrapper-box-container-control">
        <div class="label-row">Members (7)</div>
        <div class="modal-wrapper-box-container-control-row">
           <div class="modal-wrapper-box-container-control-row-main">
            <div class="members-control">
              <div class="members-control-caption">Pending client invitations</div>
              <div class="members-control-item selected">
                <div class="member-icon">JD</div>
                <div class="member-detail">
                  <div class="member-detail-name">Jane Doe</div>
                  <div class="member-detail-actions"><span>Edit details</span> | <span>Resend invite</span></div>
                </div>
                <div class="member-right">
                  <div class="member-right-lookup">Editor</div>
                  <div class="member-right-lookup-menu"></div>
                </div>
              </div>
              <div class="members-control-item selected ">
                <div class="member-icon">MA</div>
                <div class="member-detail">
                  <div class="member-detail-name">Mike Andersen</div>
                  <div class="member-detail-actions"><span>Edit details</span> | <span>Resend invite</span></div>
                </div>
                <div class="member-right">
                  <div class="member-right-lookup">Editor</div>
                </div>
              </div>
              <div class="members-control-caption">Active members</div>
              <div class="members-control-item">
                <div class="member-icon">CS</div>
                <div class="member-detail">
                  <div class="member-detail-name">Christopher Sanchez</div>
                  <div class="member-detail-actions">
                    <div class="member-detail-actions-note">Can edit files</div>
                  </div>
                </div>
                <div class="member-right">
                  <div class="member-right-lookup active">Owner</div>
                </div>
              </div>
              <div class="members-control-item selected">
                <div class="member-icon">JS</div>
                <div class="member-detail">
                  <div class="member-detail-name">John Smith</div>
                  <div class="member-detail-actions">
                      <div class="member-detail-actions-note">Can view and download files</div>
                  </div>
                </div>
                <div class="member-right">
                  <div class="member-right-lookup">Editor</div>
                </div>
              </div>
              <div class="members-control-item  ">
                <div class="member-icon">CW</div>
                <div class="member-detail">
                  <div class="member-detail-name">Chuchu Wang</div>
                  <div class="member-detail-actions">
                    <div class="member-detail-actions-note">Can edit files</div>
                  </div>
                </div>
                <div class="member-right">
                  <div class="member-right-lookup">Editor</div>
                </div>
              </div>
              <div class="members-control-item  ">
                <div class="member-icon">AM</div>
                <div class="member-detail">
                  <div class="member-detail-name">Abhiram Muddu</div>
                  <div class="member-detail-actions">
                    <div class="member-detail-actions-note">Can view and download files</div>
                  </div>
                </div>
                <div class="member-right">
                    <div class="member-right-lookup">Editor</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-wrapper-box-container-control-row-side">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-wrapper-box-footer">
    </div>
  </div>
</div>

