$shadow-background-color: #000;
$light-grey-color: #ececec;
$light-black-color: #1c1c1c;
$base-brand-color: #f31631;
$base-white-color: #fff;
$border-grey-color: #8e8e8e;


.brand-logo {
  background-image: url(../assets/imgs/logo.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 54px;
  position: absolute;
  margin-left: 40px;
}
.modal-wrapper {
  background-color: rgba($color: #000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &-box {
    box-sizing: border-box;
    background-color: $base-white-color;
    border-radius: 8px;
    padding: 19px 23px;
    min-height: 670px;
    width: 560px;
    min-width: 325px;
    z-index: 10000;

    &-header {
      height: 42px;
      border-bottom: 1px solid $light-grey-color;

      &-icon {
        height: 24px;
        width: 24px;
        background-image: url(../assets/imgs/folder_sharing.png);
        background-size: cover;
        position: absolute;
      }
      span {
        margin-left: 31px;
        font-size: 19px;
        line-height: 28px;
        font-weight: 700;
        letter-spacing: 0.026em;
        color: $light-black-color;
      }
      &-close {
        transform-origin: 5px;
        transform: rotate(45deg);
        line-height: 26px;
        float: right;
        font-size: 18px;
        font-weight: 700;
        color: $light-black-color;
        cursor: pointer;
        margin-right: -12px;
        display: block;
        width: 18px;
        height: 18px;
        user-select: none;

        &:after {
          content: "";
          clear: both;
        }
      }
    }

    &-container {
      &-control {
        padding: 21px 0 2px 0;
        &-row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          &-main{
            flex-grow: 1;
            flex-shrink: 10;
            padding-right: 1px;
            box-sizing: border-box;
          }
          &-side {
            flex-shrink: 0;
            margin: 0 7px;
            width: 80px;
            box-sizing: border-box;
          }
        }
      }
    }

    &-footer{
      margin-top: 20px;
      text-align: right;
    }
  }
}

.label-row {
  font-size: 13px;
  font-weight: 700;
  color: #484848;
  margin-bottom: 6px;
}
.tag-control {
  width: 100%;
  height: 30px;
  border: 1px solid $border-grey-color;
  box-sizing: border-box;
  padding: 4px 3px;
  display: flex;
  flex-direction: row;

  &-container {
    .tag {
      font-size: 12px;
      line-height: 12px;
      min-height: 20px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: end;
      border-radius: 3px;
      color: rgba($color: #000, $alpha: 0.65);
      margin-right: 3px;

      &-icon {
        background-image: -Webkit-image-set(url(../assets/imgs/folder_sharing_small.png) 1x,url(../assets/imgs/folder_sharing_small@2x.png) 2x);
        background-image: url(../assets/imgs/folder_sharing_small.png);
        background-size: cover;
        height: 13px;
        width: 18px;
        margin: 3px 0 3px 3px;
      }
      &-label {
        padding: 4px 4px 4px 2px;
      }
      &-close {
        padding: 4px 6px;
        cursor: pointer;
        box-sizing: border-box;
        border-left: 1px solid $base-white-color;
      }

      &.research {
        background-color: $base-brand-color;
        color: rgba($color: $base-white-color, $alpha: 0.65);
      }
    }
  }
  input {
    border: none;
    width: 100%;
    height: 19px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: -0.025em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: #cccccc;
    }
  }
}

.members-control {
  width: 100%;
  height: 391px;
  border: 1px solid $border-grey-color;
  box-sizing: border-box;
  overflow-y: auto;

  &-caption {
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
    border-bottom: 1px solid $border-grey-color;
    color: #484848;
    padding: 6px 7px 5px 7px;
    box-sizing: border-box;
  }
  &-item {
    font-size: 10px;
    border-bottom: 1px solid $border-grey-color;
    color: #484848;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border: none;
    }

    .member-icon {
      font-size: 12px;
      width: 31px;
      height: 31px;
      border: 1px solid $base-brand-color;
      border-radius: 16px;
      box-sizing: border-box;
      color: $base-brand-color;
      text-align: center;
      padding: 9px 0;
      flex-shrink: 0;
      font-weight: 600;
    }
    &.selected {
      .member-icon {
        color: #fff;
        background-color: $base-brand-color;
      }
    }
    .member-detail {
      flex-grow: 1;
      padding: 3px 6px 1px 6px;
      box-sizing: border-box;
      &-name {
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        color: #1c1c1c;
      }
      &-actions {
        font-size: 11px;
        line-height: 11px;
        color: #5f5f5f;
        margin-top: 2px;

        span {
          cursor: pointer;
          white-space: nowrap;
        }
        &-note {
          color: #9a9a9a;
        }
      }
    }

    .member-right {
      &-lookup {
        border: 1px solid $border-grey-color;
        border-radius: 12px;
        min-width: 80px;
        height: 25px;
        color: #505050;
        padding: 7px;
        font-size: 11px;
        box-sizing: border-box;
        line-height: 11px;
        cursor: pointer;
        &::after {
          content: '>';
          transform: rotate(90deg) scale(1.0,2.0);
          display: block;
          float: right;
          font-size: 8px;
          width: 4px;
          color: #a8a8a8;
        }

        &.active {
          &::after {
            content: '<';
          }
        }
      }
    }
  }
}

.button-control {
  min-width: 80px;
    line-height: 14px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: #212121;
    padding: 8px;
    border-radius: 3px;
  background-color: #ececec;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}


/* Medium screens */
@media all and (max-width: 450px) {
  .modal-wrapper {
    &-box {
      &-container {
        &-control {
          &-row {
            flex-direction: column;
            align-content: end;
            &-side {
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
  .members-control {
    &-item {
      padding: 7px;
    }
  }
}
